# Node.js dependencies
node_modules/

# Logs
logs/
*.log
*.tlog
*.out
*.pid
*.gz

# Environment variables
.env
.env.local
.env.*.local

# IDEs and editors
.vscode/


# Optional npm cache directory
.npm/

# Temporary files
temp/